.About-header {
  background-color:#090909;
 }

.About-main {
  min-height: 95vh;
}

.d1{
  height: 100%;
  width: 100%;
 }

.d2{
  height: 100%;
  width: 100%;
 }

.d3{
  height: 100%;
  width: 100%;
 }

.About-footer {
  min-height: 5vh;
}

.project-card-view {
  
  box-shadow: 0 4px 5px 3px rgba(119, 53, 136, 0.459) !important;
  box-shadow: 0 4px 5px 3px rgba(156, 116, 48, 0.482) !important;
  color: white !important;
  background-color: transparent !important;
  opacity: 0.9 !important;
  transition: all 0.5s ease 0s !important;
  height: 100% !important;
}
.project-card-view:hover {
  transform: scale(1.02) !important;
  overflow: hidden !important;
  box-shadow: 0 4px 4px 5px rgba(129, 72, 144, 0.561) !important;
}
.project-heading {
  color: white !important;
  font-size: 2.3em !important;
  font-weight: 500 !important;
  padding-top: 10px !important;
}
.project-card {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  height: auto !important;
}
.project-section{
  margin-top: 6.2rem;
 
  /* font-family: 'Sulphur Point', sans-serif; */
}
.project-sub-heading{
  color: white;
  text-align: center;
}