.tech-icons {
  font-size: 4.5em !important;
  margin: 15px !important;
  padding: 10px !important;
  opacity: 0.93 !important;
  /* border: 1.7px solid #c989e6a2 !important; */
  border: 1.7px solid #ffbc48ed;
  vertical-align: middle !important;
  text-align: center !important;
  border-radius: 5px !important;
  display: table !important;
  box-shadow: 4px 5px 4px 3px #231703 !important;
  overflow: hidden !important;
  transition: all 0.4s ease 0s !important;
}

@media (max-width: 767px) {
  .tech-icons {
    margin: 10px !important;
  }
}

.tech-icons:hover {
  transform: scale(1.05) !important;
  overflow: hidden !important;
  border: 2.2px solid #d8a958fc !important;
}
.git svg {
  color: #f05032;
}

.github svg {
  color: #683bee;
}

.bitbucket svg {
  color: #0052cc;
}

.postman svg {
  color: #ff6c37;
}

.jira svg {
  color: #0052cc;
}

.vscode svg {
  color: #007acc;
}

.figma svg {
  color: #f24e1e;
}

/* Dark mode fix */
body.dark-mode .github svg {
  color: #ffffff;
}
